In [2]:
import pandas as pd
import numpy as np

In [2]:
project=pd.read_csv('data/project.csv')
projectAddress=pd.read_csv('data/projectAddress.csv')
projectConfiguration=pd.read_csv('data/projectConfiguration.csv')
projectconfigurationvariant=pd.read_csv('data/projectconfigurationvariant.csv')

In [3]:
project.head()

,id,projectType,projectName,projectCategory,slug,slugId,status,projectAge,reraId,countryId,stateId,cityId,localityId,subLocalityId,projectSummary,possessionDate
0,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,cmf3ze56e0002vcf8e0hjqnsw,cmf6nu3ru000gvcxspxarll3v,cmf6pksk30035vcxs7r2mo3iq,cmfdkuymm0001vc90iiyzkr8d,NaN,2025-09-28 00:00:00
1,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,NaN,READY_TO_MOVE,0.0,"[""P52100032109""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf6nu3ru000gvcxspxarll3v,cmf6pk0cn0033vcxshxbf5hdh,cmfdn705v001pvc90uyle9m34,NaN,NaN
2,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,UNDER_CONSTRUCTION,NaN,"[""[\""P51800047648\""]""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf50r5a00000vcj0k1iuocuu,cmf51ieam0001vcj0kljobiod,cmf51ix980003vcj0z7abv17k,NaN,NaN
3,cmfaxq2oo0020vc1806nmle00,RESIDENTIAL,Hari om,STANDALONE,hari-om-ashoknagar-chembur-mumbai-650559,NaN,UNDER_CONSTRUCTION,NaN,"[""P51800066536""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf50r5a00000vcj0k1iuocuu,cmf51ieam0001vcj0kljobiod,cmfcec5ph007ivca007lzj3b3,NaN,NaN
4,cmfaycwy70036vc18ppmb8mwh,RESIDENTIAL,Om makarand heights,STANDALONE,om-makarand-heights-ashoknagar-chembur-mumbai-...,NaN,UNDER_CONSTRUCTION,NaN,"[""P51800052217""]",cmf3zcoe80000vcf8sd4qfpwd,cmf3ze56e0002vcf8e0hjqnsw,cmf50r5a00000vcj0k1iuocuu,cmf6oxndf0021vcxsvog0r7bk,cmfcewd9m007svca0b4pla35a,NaN,2025-09-21 00:00:00

In [4]:
project.shape

(31, 16)

In [5]:
projectAddress.head()

,id,projectId,landmark,fullAddress,pincode
0,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,Babys school,Mumbai chembur,411017
1,cmf5r6hv30008vxptq5el3h5n,cmf5r6hv00001vxptnfichhfl,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",412101
2,cmfawdrnt000kvc18h3j7e93j,cmfawdrno0007vc18l0fm0z2j,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",400071
3,cmfaxq2ot002avc18ild77rjg,cmfaxq2oo0020vc1806nmle00,Sindhi Society,"Cts 300, plot no 37, opposite midtown 71, Sind...",400069
4,cmfaycwya003hvc18yc5gtwtc,cmfaycwy70036vc18ppmb8mwh,Hind high school,"104, Yashvant Seth Jadhav Marg, Gauri Shankar ...",400075

In [6]:
projectAddress.shape

(31, 5)

In [7]:
projectConfiguration.head()

,id,projectId,propertyCategory,type,customBHK
0,cmf53kkzz000ivcu89r5399s4,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,1BHK,NaN
1,cmf53kl00000kvcu86ivy65di,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,2BHK,NaN
2,cmf5r6hv20004vxpt0l657blu,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,2BHK,2BHK
3,cmfawdrnq000avc18qcvaxzi9,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,1BHK,1BHK
4,cmfawdrnr000dvc188hupv4yy,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,3BHK,3BHK

In [8]:
projectConfiguration.shape

(60, 5)

In [9]:

projectconfigurationvariant.head()

,id,configurationId,bathrooms,privateBathrooms,publicBathrooms,balcony,furnishedType,furnishingType,lift,ageOfProperty,parkingType,listingType,floorPlanImage,carpetArea,price,propertyImages,maintenanceCharges,aboutProperty,createdAt,updatedAt
0,cmf5r6hv20005vxpt3yfnl2qp,cmf5r6hv20004vxpt0l657blu,12,NaN,NaN,3.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,972.00,120000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",faded,about property,2025-09-04 18:42:08.748,2025-09-04 18:42:08.748
1,cmf5r6hv20006vxptcx3lmm05,cmf5r6hv20004vxpt0l657blu,3,NaN,NaN,2.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,188.73,210000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,fsdaffdsafsfdddsa,2025-09-04 18:42:08.748,2025-09-04 18:42:08.748
2,cmfawdrnq000bvc188680qjyx,cmfawdrnq000avc18qcvaxzi9,1,NaN,NaN,1.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,426.57,13000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,na,2025-09-08 09:06:36.995,2025-09-08 09:06:36.995
3,cmfawdrnr000cvc1897rpsu1b,cmfawdrnq000avc18qcvaxzi9,1,NaN,NaN,1.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,460.80,15000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,na,2025-09-08 09:06:36.995,2025-09-08 09:06:36.995
4,cmfawdrnr000evc18jwvlery4,cmfawdrnr000dvc188hupv4yy,3,NaN,NaN,2.0,UNFURNISHED,[],False,NaN,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,893.08,29000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,na,2025-09-08 09:06:36.995,2025-09-08 09:06:36.995

In [10]:
projectconfigurationvariant.shape

(83, 20)

In [37]:
merged_1 = pd.merge(
    project,
    projectAddress,
    left_on='id',              # project's primary key
    right_on='projectId',      # address's foreign key
    how='outer'                 # Keep all projects
)

In [38]:
merged_1.shape

(31, 21)

In [39]:
merged_1.head()

,id_x,projectType,projectName,projectCategory,slug,slugId,status,projectAge,reraId,countryId,...,cityId,localityId,subLocalityId,projectSummary,possessionDate,id_y,projectId,landmark,fullAddress,pincode
0,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,...,cmf6nu3ru000gvcxspxarll3v,cmf6pksk30035vcxs7r2mo3iq,cmfdkuymm0001vc90iiyzkr8d,NaN,2025-09-28 00:00:00,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,Babys school,Mumbai chembur,411017
1,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,NaN,READY_TO_MOVE,0.0,"[""P52100032109""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf6nu3ru000gvcxspxarll3v,cmf6pk0cn0033vcxshxbf5hdh,cmfdn705v001pvc90uyle9m34,NaN,NaN,cmf5r6hv30008vxptq5el3h5n,cmf5r6hv00001vxptnfichhfl,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",412101
2,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,UNDER_CONSTRUCTION,NaN,"[""[\""P51800047648\""]""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf50r5a00000vcj0k1iuocuu,cmf51ieam0001vcj0kljobiod,cmf51ix980003vcj0z7abv17k,NaN,NaN,cmfawdrnt000kvc18h3j7e93j,cmfawdrno0007vc18l0fm0z2j,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",400071
3,cmfaxq2oo0020vc1806nmle00,RESIDENTIAL,Hari om,STANDALONE,hari-om-ashoknagar-chembur-mumbai-650559,NaN,UNDER_CONSTRUCTION,NaN,"[""P51800066536""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf50r5a00000vcj0k1iuocuu,cmf51ieam0001vcj0kljobiod,cmfcec5ph007ivca007lzj3b3,NaN,NaN,cmfaxq2ot002avc18ild77rjg,cmfaxq2oo0020vc1806nmle00,Sindhi Society,"Cts 300, plot no 37, opposite midtown 71, Sind...",400069
4,cmfaycwy70036vc18ppmb8mwh,RESIDENTIAL,Om makarand heights,STANDALONE,om-makarand-heights-ashoknagar-chembur-mumbai-...,NaN,UNDER_CONSTRUCTION,NaN,"[""P51800052217""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf50r5a00000vcj0k1iuocuu,cmf6oxndf0021vcxsvog0r7bk,cmfcewd9m007svca0b4pla35a,NaN,2025-09-21 00:00:00,cmfaycwya003hvc18yc5gtwtc,cmfaycwy70036vc18ppmb8mwh,Hind high school,"104, Yashvant Seth Jadhav Marg, Gauri Shankar ...",400075

In [40]:
merged_2 = pd.merge(
    merged_1,
    projectConfiguration,
    left_on='id_x',              # project's primary key
    right_on='projectId',      # config's foreign key
    how='outer'                 # Keep all projects
)
# Result: 60 rows (expanded due to multiple BHKs per project)

In [41]:
merged_2.shape

(60, 26)

In [42]:
merged_2.head()

,id_x,projectType,projectName,projectCategory,slug,slugId,status,projectAge,reraId,countryId,...,id_y,projectId_x,landmark,fullAddress,pincode,id,projectId_y,propertyCategory,type,customBHK
0,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,...,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,Babys school,Mumbai chembur,411017,cmf53kkzz000ivcu89r5399s4,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,1BHK,NaN
1,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,...,cmf53kl01000nvcu8ibut7fka,cmf53kkzy000fvcu8tx8jwjmr,Babys school,Mumbai chembur,411017,cmf53kl00000kvcu86ivy65di,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,2BHK,NaN
2,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,NaN,READY_TO_MOVE,0.0,"[""P52100032109""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmf5r6hv30008vxptq5el3h5n,cmf5r6hv00001vxptnfichhfl,Sai nagar,"sr no 13 beside godrej, opposite to mca stadiu...",412101,cmf5r6hv20004vxpt0l657blu,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,2BHK,2BHK
3,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,UNDER_CONSTRUCTION,NaN,"[""[\""P51800047648\""]""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmfawdrnt000kvc18h3j7e93j,cmfawdrno0007vc18l0fm0z2j,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",400071,cmfawdrnq000avc18qcvaxzi9,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,1BHK,1BHK
4,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,UNDER_CONSTRUCTION,NaN,"[""[\""P51800047648\""]""]",cmf3zcoe80000vcf8sd4qfpwd,...,cmfawdrnt000kvc18h3j7e93j,cmfawdrno0007vc18l0fm0z2j,Sindhi Society,"Sindhi Society, Near Swami Vivekanand Jr Colle...",400071,cmfawdrnr000dvc188hupv4yy,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,3BHK,3BHK

In [48]:
merged_2.columns

Index(['id_x', 'projectType', 'projectName', 'projectCategory', 'slug',
       'slugId', 'status', 'projectAge', 'reraId', 'countryId', 'stateId',
       'cityId', 'localityId', 'subLocalityId', 'projectSummary',
       'possessionDate', 'id_y', 'projectId_x', 'landmark', 'fullAddress',
       'pincode', 'id', 'projectId_y', 'propertyCategory', 'type',
       'customBHK'],
      dtype='object')

In [49]:
print(merged_2.head())

                        id_x  projectType projectName projectCategory  \
0  cmf53kkzy000fvcu8tx8jwjmr  RESIDENTIAL     Ashwini      STANDALONE
1  cmf53kkzy000fvcu8tx8jwjmr  RESIDENTIAL     Ashwini      STANDALONE
2  cmf5r6hv00001vxptnfichhfl  RESIDENTIAL  Pristine02      STANDALONE
3  cmfawdrno0007vc18l0fm0z2j  RESIDENTIAL   Gurukripa         COMPLEX
4  cmfawdrno0007vc18l0fm0z2j  RESIDENTIAL   Gurukripa         COMPLEX

                                              slug  slugId  \
0  luxury-ashwini-ashoknagar-chembur-mumbai-675058     NaN
1  luxury-ashwini-ashoknagar-chembur-mumbai-675058     NaN
2  pristine02-modelcolony-shivajinagar-pune-428955     NaN
3       gurukripa-ashoknagar-chembur-mumbai-086047     NaN
4       gurukripa-ashoknagar-chembur-mumbai-086047     NaN

               status  projectAge                  reraId  \
0  UNDER_CONSTRUCTION         NaN        ["P99000056045"]
1  UNDER_CONSTRUCTION         NaN        ["P99000056045"]
2       READY_TO_MOVE         0.0        ["P52100032109"]
3  UNDER_CONSTRUCTION         NaN  ["[\"P51800047648\"]"]
4  UNDER_CONSTRUCTION         NaN  ["[\"P51800047648\"]"]

                   countryId  ...                       id_y  \
0  cmfw6qdtd0000vx6uelma0klf  ...  cmf53kl01000nvcu8ibut7fka
1  cmfw6qdtd0000vx6uelma0klf  ...  cmf53kl01000nvcu8ibut7fka
2  cmf3zcoe80000vcf8sd4qfpwd  ...  cmf5r6hv30008vxptq5el3h5n
3  cmf3zcoe80000vcf8sd4qfpwd  ...  cmfawdrnt000kvc18h3j7e93j
4  cmf3zcoe80000vcf8sd4qfpwd  ...  cmfawdrnt000kvc18h3j7e93j

                 projectId_x        landmark  \
0  cmf53kkzy000fvcu8tx8jwjmr    Babys school
1  cmf53kkzy000fvcu8tx8jwjmr    Babys school
2  cmf5r6hv00001vxptnfichhfl      Sai nagar
3  cmfawdrno0007vc18l0fm0z2j  Sindhi Society
4  cmfawdrno0007vc18l0fm0z2j  Sindhi Society

                                         fullAddress pincode  \
0                                     Mumbai chembur  411017
1                                     Mumbai chembur  411017
2  sr no 13 beside godrej, opposite to mca stadiu...  412101
3  Sindhi Society, Near Swami Vivekanand Jr Colle...  400071
4  Sindhi Society, Near Swami Vivekanand Jr Colle...  400071

                          id                projectId_y propertyCategory  \
0  cmf53kkzz000ivcu89r5399s4  cmf53kkzy000fvcu8tx8jwjmr      RESIDENTIAL
1  cmf53kl00000kvcu86ivy65di  cmf53kkzy000fvcu8tx8jwjmr      RESIDENTIAL
2  cmf5r6hv20004vxpt0l657blu  cmf5r6hv00001vxptnfichhfl      RESIDENTIAL
3  cmfawdrnq000avc18qcvaxzi9  cmfawdrno0007vc18l0fm0z2j      RESIDENTIAL
4  cmfawdrnr000dvc188hupv4yy  cmfawdrno0007vc18l0fm0z2j      RESIDENTIAL

   type customBHK
0  1BHK       NaN
1  2BHK       NaN
2  2BHK      2BHK
3  1BHK      1BHK
4  3BHK      3BHK

[5 rows x 26 columns]

In [50]:
final_merged = merged_2.merge(
    projectconfigurationvariant,
    left_on='id',              # config's primary key
    right_on='configurationId', # variant's foreign key
    how='outer',
    suffixes=('_merged2', '_variant') # Keep all variants
)
# Result: 83 rows (one per property variant)

In [51]:
final_merged.shape

(83, 46)

In [52]:
final_merged.head()

,id_x,projectType,projectName,projectCategory,slug,slugId,status,projectAge,reraId,countryId,...,parkingType,listingType,floorPlanImage,carpetArea,price,propertyImages,maintenanceCharges,aboutProperty,createdAt,updatedAt
0,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,...,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,123.00,11111111,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,jjhhhu,2025-09-11 10:07:21.386,2025-09-11 10:07:21.386
1,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,UNDER_CONSTRUCTION,NaN,"[""P99000056045""]",cmfw6qdtd0000vx6uelma0klf,...,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,456.00,22222222,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,nbhjg,2025-09-11 10:07:26.152,2025-09-11 10:07:26.152
2,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,NaN,READY_TO_MOVE,0.0,"[""P52100032109""]",cmf3zcoe80000vcf8sd4qfpwd,...,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,972.00,120000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",faded,about property,2025-09-04 18:42:08.748,2025-09-04 18:42:08.748
3,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,NaN,READY_TO_MOVE,0.0,"[""P52100032109""]",cmf3zcoe80000vcf8sd4qfpwd,...,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,188.73,210000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,fsdaffdsafsfdddsa,2025-09-04 18:42:08.748,2025-09-04 18:42:08.748
4,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,UNDER_CONSTRUCTION,NaN,"[""[\""P51800047648\""]""]",cmf3zcoe80000vcf8sd4qfpwd,...,NaN,Sell,https://pub-d28896f69c604ec5aa743cb0397740d9.r...,426.57,13000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",NaN,na,2025-09-08 09:06:36.995,2025-09-08 09:06:36.995

In [53]:
merged_df=final_merged.to_csv('data/5outerfinal_merged_realestate_data.csv', index=False)

In [54]:
df=pd.read_csv('data/5outerfinal_merged_realestate_data.csv')
print(df.head())

                        id_x  projectType projectName projectCategory  \
0  cmf53kkzy000fvcu8tx8jwjmr  RESIDENTIAL     Ashwini      STANDALONE
1  cmf53kkzy000fvcu8tx8jwjmr  RESIDENTIAL     Ashwini      STANDALONE
2  cmf5r6hv00001vxptnfichhfl  RESIDENTIAL  Pristine02      STANDALONE
3  cmf5r6hv00001vxptnfichhfl  RESIDENTIAL  Pristine02      STANDALONE
4  cmfawdrno0007vc18l0fm0z2j  RESIDENTIAL   Gurukripa         COMPLEX

                                              slug  slugId  \
0  luxury-ashwini-ashoknagar-chembur-mumbai-675058     NaN
1  luxury-ashwini-ashoknagar-chembur-mumbai-675058     NaN
2  pristine02-modelcolony-shivajinagar-pune-428955     NaN
3  pristine02-modelcolony-shivajinagar-pune-428955     NaN
4       gurukripa-ashoknagar-chembur-mumbai-086047     NaN

               status  projectAge                  reraId  \
0  UNDER_CONSTRUCTION         NaN        ["P99000056045"]
1  UNDER_CONSTRUCTION         NaN        ["P99000056045"]
2       READY_TO_MOVE         0.0        ["P52100032109"]
3       READY_TO_MOVE         0.0        ["P52100032109"]
4  UNDER_CONSTRUCTION         NaN  ["[\"P51800047648\"]"]

                   countryId  ... parkingType listingType  \
0  cmfw6qdtd0000vx6uelma0klf  ...         NaN        Sell
1  cmfw6qdtd0000vx6uelma0klf  ...         NaN        Sell
2  cmf3zcoe80000vcf8sd4qfpwd  ...         NaN        Sell
3  cmf3zcoe80000vcf8sd4qfpwd  ...         NaN        Sell
4  cmf3zcoe80000vcf8sd4qfpwd  ...         NaN        Sell

                                      floorPlanImage carpetArea      price  \
0  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     123.00   11111111
1  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     456.00   22222222
2  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     972.00  120000000
3  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     188.73  210000000
4  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     426.57   13000000

                                      propertyImages maintenanceCharges  \
0  ["https://pub-d28896f69c604ec5aa743cb0397740d9...                NaN
1  ["https://pub-d28896f69c604ec5aa743cb0397740d9...                NaN
2  ["https://pub-d28896f69c604ec5aa743cb0397740d9...             faded
3  ["https://pub-d28896f69c604ec5aa743cb0397740d9...                NaN
4  ["https://pub-d28896f69c604ec5aa743cb0397740d9...                NaN

       aboutProperty                createdAt                updatedAt
0             jjhhhu  2025-09-11 10:07:21.386  2025-09-11 10:07:21.386
1              nbhjg  2025-09-11 10:07:26.152  2025-09-11 10:07:26.152
2    about property   2025-09-04 18:42:08.748  2025-09-04 18:42:08.748
3  fsdaffdsafsfdddsa  2025-09-04 18:42:08.748  2025-09-04 18:42:08.748
4                 na  2025-09-08 09:06:36.995  2025-09-08 09:06:36.995

[5 rows x 46 columns]

In [55]:
df.describe()

,slugId,projectAge,pincode,bathrooms,privateBathrooms,publicBathrooms,balcony,ageOfProperty,parkingType,carpetArea,price
count,0.0,11.000000,83.000000,83.000000,3.000000,3.000000,80.000000,0.0,0.0,83.000000,8.300000e+01
mean,NaN,4.818182,383228.662651,4.759036,0.666667,0.666667,15.312500,NaN,NaN,641.196265,5.773433e+07
std,NaN,4.935953,97322.273097,15.062950,0.577350,0.577350,110.447375,NaN,NaN,391.210042,1.695477e+08
min,NaN,0.000000,123456.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,2.000000,7.900000e+05
25%,NaN,0.000000,400071.000000,1.000000,0.500000,0.500000,1.000000,NaN,NaN,419.280000,1.004400e+07
50%,NaN,2.000000,400080.000000,2.000000,1.000000,1.000000,2.000000,NaN,NaN,650.000000,1.500000e+07
75%,NaN,9.500000,411033.000000,3.000000,1.000000,1.000000,2.000000,NaN,NaN,886.540000,2.750000e+07
max,NaN,11.000000,828123.000000,99.000000,1.000000,1.000000,987.000000,NaN,NaN,2650.000000,9.800000e+08

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 46 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_x                83 non-null     object
 1   projectType         83 non-null     object
 2   projectName         83 non-null     object
 3   projectCategory     83 non-null     object
 4   slug                83 non-null     object
 5   slugId              0 non-null      float64
 6   status              83 non-null     object
 7   projectAge          11 non-null     float64
 8   reraId              83 non-null     object
 9   countryId           83 non-null     object
 10  stateId             83 non-null     object
 11  cityId              83 non-null     object
 12  localityId          83 non-null     object
 13  subLocalityId       83 non-null     object
 14  projectSummary      18 non-null     object
 15  possessionDate      17 non-null     object
 16  id_y                83 non-null     object
 17  projectId_x         83 non-null     object
 18  landmark            83 non-null     object
 19  fullAddress         83 non-null     object
 20  pincode             83 non-null     int64
 21  id_merged2          83 non-null     object
 22  projectId_y         83 non-null     object
 23  propertyCategory    83 non-null     object
 24  type                83 non-null     object
 25  customBHK           69 non-null     object
 26  id_variant          83 non-null     object
 27  configurationId     83 non-null     object
 28  bathrooms           83 non-null     int64
 29  privateBathrooms    3 non-null      float64
 30  publicBathrooms     3 non-null      float64
 31  balcony             80 non-null     float64
 32  furnishedType       83 non-null     object
 33  furnishingType      83 non-null     object
 34  lift                83 non-null     bool
 35  ageOfProperty       0 non-null      float64
 36  parkingType         0 non-null      float64
 37  listingType         83 non-null     object
 38  floorPlanImage      81 non-null     object
 39  carpetArea          83 non-null     float64
 40  price               83 non-null     int64
 41  propertyImages      83 non-null     object
 42  maintenanceCharges  1 non-null      object
 43  aboutProperty       55 non-null     object
 44  createdAt           83 non-null     object
 45  updatedAt           83 non-null     object
dtypes: bool(1), float64(8), int64(3), object(34)
memory usage: 29.4+ KB

In [57]:
df['id_x'].nunique()

31

In [58]:
# Find columns with identical data
dupe_cols = []
for i, col1 in enumerate(df.columns):
    for col2 in df.columns[i+1:]:
        if df[col1].equals(df[col2]):
            dupe_cols.append((col1, col2))
print("Columns with identical data:", dupe_cols)

Columns with identical data: [('id_x', 'projectId_x'), ('id_x', 'projectId_y'), ('slugId', 'ageOfProperty'), ('slugId', 'parkingType'), ('projectId_x', 'projectId_y'), ('id_merged2', 'configurationId'), ('privateBathrooms', 'publicBathrooms'), ('ageOfProperty', 'parkingType'), ('createdAt', 'updatedAt')]

In [59]:
df.drop(columns=['projectId_x', 'projectId_y'], inplace=True)

In [62]:
df.drop(columns=['id_merged2'], inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 43 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id_x                83 non-null     object
 1   projectType         83 non-null     object
 2   projectName         83 non-null     object
 3   projectCategory     83 non-null     object
 4   slug                83 non-null     object
 5   slugId              0 non-null      float64
 6   status              83 non-null     object
 7   projectAge          11 non-null     float64
 8   reraId              83 non-null     object
 9   countryId           83 non-null     object
 10  stateId             83 non-null     object
 11  cityId              83 non-null     object
 12  localityId          83 non-null     object
 13  subLocalityId       83 non-null     object
 14  projectSummary      18 non-null     object
 15  possessionDate      17 non-null     object
 16  id_y                83 non-null     object
 17  landmark            83 non-null     object
 18  fullAddress         83 non-null     object
 19  pincode             83 non-null     int64
 20  propertyCategory    83 non-null     object
 21  type                83 non-null     object
 22  customBHK           69 non-null     object
 23  id_variant          83 non-null     object
 24  configurationId     83 non-null     object
 25  bathrooms           83 non-null     int64
 26  privateBathrooms    3 non-null      float64
 27  publicBathrooms     3 non-null      float64
 28  balcony             80 non-null     float64
 29  furnishedType       83 non-null     object
 30  furnishingType      83 non-null     object
 31  lift                83 non-null     bool
 32  ageOfProperty       0 non-null      float64
 33  parkingType         0 non-null      float64
 34  listingType         83 non-null     object
 35  floorPlanImage      81 non-null     object
 36  carpetArea          83 non-null     float64
 37  price               83 non-null     int64
 38  propertyImages      83 non-null     object
 39  maintenanceCharges  1 non-null      object
 40  aboutProperty       55 non-null     object
 41  createdAt           83 non-null     object
 42  updatedAt           83 non-null     object
dtypes: bool(1), float64(8), int64(3), object(31)
memory usage: 27.4+ KB

In [64]:
df.to_csv('data/7final_merged_realestate_data.csv', index=False)

In [ ]:
df.isnull().sum()

id_x                   0
projectType            0
projectName            0
projectCategory        0
slug                   0
slugId                83
status                 0
projectAge            72
reraId                 0
countryId              0
stateId                0
cityId                 0
localityId             0
subLocalityId          0
projectSummary        65
possessionDate        66
id_y                   0
landmark               0
fullAddress            0
pincode                0
propertyCategory       0
type                   0
customBHK             14
id_variant             0
configurationId        0
bathrooms              0
privateBathrooms      80
publicBathrooms       80
balcony                3
furnishedType          0
furnishingType         0
lift                   0
ageOfProperty         83
parkingType           83
listingType            0
floorPlanImage         2
carpetArea             0
price                  0
propertyImages         0
maintenanceCharges    82
aboutProperty         28
createdAt              0
updatedAt              0
dtype: int64

In [66]:
null_percent = df.isnull().mean() * 100
print(null_percent)

id_x                    0.000000
projectType             0.000000
projectName             0.000000
projectCategory         0.000000
slug                    0.000000
slugId                100.000000
status                  0.000000
projectAge             86.746988
reraId                  0.000000
countryId               0.000000
stateId                 0.000000
cityId                  0.000000
localityId              0.000000
subLocalityId           0.000000
projectSummary         78.313253
possessionDate         79.518072
id_y                    0.000000
landmark                0.000000
fullAddress             0.000000
pincode                 0.000000
propertyCategory        0.000000
type                    0.000000
customBHK              16.867470
id_variant              0.000000
configurationId         0.000000
bathrooms               0.000000
privateBathrooms       96.385542
publicBathrooms        96.385542
balcony                 3.614458
furnishedType           0.000000
furnishingType          0.000000
lift                    0.000000
ageOfProperty         100.000000
parkingType           100.000000
listingType             0.000000
floorPlanImage          2.409639
carpetArea              0.000000
price                   0.000000
propertyImages          0.000000
maintenanceCharges     98.795181
aboutProperty          33.734940
createdAt               0.000000
updatedAt               0.000000
dtype: float64

## deleing columns with values not required or having no values

In [67]:
df.drop(columns=['aboutProperty','privateBathrooms','publicBathrooms','slugId'], inplace=True)

In [71]:
df.drop(columns=['ageOfProperty','parkingType','maintenanceCharges'], inplace=True)

In [72]:
null_percent = df.isnull().mean() * 100
print(null_percent)

id_x                 0.000000
projectType          0.000000
projectName          0.000000
projectCategory      0.000000
slug                 0.000000
status               0.000000
projectAge          86.746988
reraId               0.000000
countryId            0.000000
stateId              0.000000
cityId               0.000000
localityId           0.000000
subLocalityId        0.000000
projectSummary      78.313253
possessionDate      79.518072
id_y                 0.000000
landmark             0.000000
fullAddress          0.000000
pincode              0.000000
propertyCategory     0.000000
type                 0.000000
customBHK           16.867470
id_variant           0.000000
configurationId      0.000000
bathrooms            0.000000
balcony              3.614458
furnishedType        0.000000
furnishingType       0.000000
lift                 0.000000
listingType          0.000000
floorPlanImage       2.409639
carpetArea           0.000000
price                0.000000
propertyImages       0.000000
createdAt            0.000000
updatedAt            0.000000
dtype: float64

In [74]:
df.shape

(83, 36)

In [76]:
df['lift'].value_counts()

lift
False    83
Name: count, dtype: int64

In [77]:
df['listingType'].value_counts()

listingType
Sell    83
Name: count, dtype: int64

In [78]:
df.columns

Index(['id_x', 'projectType', 'projectName', 'projectCategory', 'slug',
       'status', 'projectAge', 'reraId', 'countryId', 'stateId', 'cityId',
       'localityId', 'subLocalityId', 'projectSummary', 'possessionDate',
       'id_y', 'landmark', 'fullAddress', 'pincode', 'propertyCategory',
       'type', 'customBHK', 'id_variant', 'configurationId', 'bathrooms',
       'balcony', 'furnishedType', 'furnishingType', 'lift', 'listingType',
       'floorPlanImage', 'carpetArea', 'price', 'propertyImages', 'createdAt',
       'updatedAt'],
      dtype='object')

In [79]:
df.drop(columns=['lift','listingType','createdAt','updatedAt', 'countryId', 'stateId', 'cityId',
       'localityId', 'subLocalityId'], inplace=True)

In [80]:
null_percent = df.isnull().mean() * 100
print(null_percent)

id_x                 0.000000
projectType          0.000000
projectName          0.000000
projectCategory      0.000000
slug                 0.000000
status               0.000000
projectAge          86.746988
reraId               0.000000
projectSummary      78.313253
possessionDate      79.518072
id_y                 0.000000
landmark             0.000000
fullAddress          0.000000
pincode              0.000000
propertyCategory     0.000000
type                 0.000000
customBHK           16.867470
id_variant           0.000000
configurationId      0.000000
bathrooms            0.000000
balcony              3.614458
furnishedType        0.000000
furnishingType       0.000000
floorPlanImage       2.409639
carpetArea           0.000000
price                0.000000
propertyImages       0.000000
dtype: float64

In [81]:
df.shape

(83, 27)

In [85]:
df['lift']=0

In [86]:
df['lift'].value_counts()

lift
0    83
Name: count, dtype: int64

In [88]:
print(df.head())

                        id_x  projectType projectName projectCategory  \
0  cmf53kkzy000fvcu8tx8jwjmr  RESIDENTIAL     Ashwini      STANDALONE
1  cmf53kkzy000fvcu8tx8jwjmr  RESIDENTIAL     Ashwini      STANDALONE
2  cmf5r6hv00001vxptnfichhfl  RESIDENTIAL  Pristine02      STANDALONE
3  cmf5r6hv00001vxptnfichhfl  RESIDENTIAL  Pristine02      STANDALONE
4  cmfawdrno0007vc18l0fm0z2j  RESIDENTIAL   Gurukripa         COMPLEX

                                              slug              status  \
0  luxury-ashwini-ashoknagar-chembur-mumbai-675058  UNDER_CONSTRUCTION
1  luxury-ashwini-ashoknagar-chembur-mumbai-675058  UNDER_CONSTRUCTION
2  pristine02-modelcolony-shivajinagar-pune-428955       READY_TO_MOVE
3  pristine02-modelcolony-shivajinagar-pune-428955       READY_TO_MOVE
4       gurukripa-ashoknagar-chembur-mumbai-086047  UNDER_CONSTRUCTION

   projectAge                  reraId projectSummary       possessionDate  \
0         NaN        ["P99000056045"]            NaN  2025-09-28 00:00:00
1         NaN        ["P99000056045"]            NaN  2025-09-28 00:00:00
2         0.0        ["P52100032109"]            NaN                  NaN
3         0.0        ["P52100032109"]            NaN                  NaN
4         NaN  ["[\"P51800047648\"]"]            NaN                  NaN

   ...            configurationId bathrooms balcony  furnishedType  \
0  ...  cmf53kkzz000ivcu89r5399s4         1     1.0    UNFURNISHED
1  ...  cmf53kl00000kvcu86ivy65di         0     2.0    UNFURNISHED
2  ...  cmf5r6hv20004vxpt0l657blu        12     3.0    UNFURNISHED
3  ...  cmf5r6hv20004vxpt0l657blu         3     2.0    UNFURNISHED
4  ...  cmfawdrnq000avc18qcvaxzi9         1     1.0    UNFURNISHED

  furnishingType                                     floorPlanImage  \
0             []  https://pub-d28896f69c604ec5aa743cb0397740d9.r...
1             []  https://pub-d28896f69c604ec5aa743cb0397740d9.r...
2             []  https://pub-d28896f69c604ec5aa743cb0397740d9.r...
3             []  https://pub-d28896f69c604ec5aa743cb0397740d9.r...
4             []  https://pub-d28896f69c604ec5aa743cb0397740d9.r...

  carpetArea      price                                     propertyImages  \
0     123.00   11111111  ["https://pub-d28896f69c604ec5aa743cb0397740d9...
1     456.00   22222222  ["https://pub-d28896f69c604ec5aa743cb0397740d9...
2     972.00  120000000  ["https://pub-d28896f69c604ec5aa743cb0397740d9...
3     188.73  210000000  ["https://pub-d28896f69c604ec5aa743cb0397740d9...
4     426.57   13000000  ["https://pub-d28896f69c604ec5aa743cb0397740d9...

   lift
0     0
1     0
2     0
3     0
4     0

[5 rows x 28 columns]

In [89]:
df['status'].value_counts()

status
UNDER_CONSTRUCTION    72
READY_TO_MOVE         11
Name: count, dtype: int64

In [90]:
df['ready_to_move'] = df['status'].map({'UNDER_CONSTRUCTION': 0, 'READY_TO_MOVE': 1})
df.drop(columns=['status'], inplace=True)

In [92]:
print(df[df.isnull().any(axis=1)])

                         id_x  projectType    projectName projectCategory  \
0   cmf53kkzy000fvcu8tx8jwjmr  RESIDENTIAL        Ashwini      STANDALONE
1   cmf53kkzy000fvcu8tx8jwjmr  RESIDENTIAL        Ashwini      STANDALONE
2   cmf5r6hv00001vxptnfichhfl  RESIDENTIAL     Pristine02      STANDALONE
3   cmf5r6hv00001vxptnfichhfl  RESIDENTIAL     Pristine02      STANDALONE
4   cmfawdrno0007vc18l0fm0z2j  RESIDENTIAL      Gurukripa         COMPLEX
..                        ...          ...            ...             ...
78  cmfxtgtbw0009vxov4t5onh7d  RESIDENTIAL    testring999         COMPLEX
79  cmfxwmse70001qq0908yt6oar  RESIDENTIAL   Queens Glory      STANDALONE
80  cmfxxh08t0013qq09o0rajcrt  RESIDENTIAL  Queens Avenue        TOWNSHIP
81  cmfxxh08t0013qq09o0rajcrt  RESIDENTIAL  Queens Avenue        TOWNSHIP
82  cmfxxh08t0013qq09o0rajcrt  RESIDENTIAL  Queens Avenue        TOWNSHIP

                                                slug  projectAge  \
0    luxury-ashwini-ashoknagar-chembur-mumbai-675058         NaN
1    luxury-ashwini-ashoknagar-chembur-mumbai-675058         NaN
2    pristine02-modelcolony-shivajinagar-pune-428955         0.0
3    pristine02-modelcolony-shivajinagar-pune-428955         0.0
4         gurukripa-ashoknagar-chembur-mumbai-086047         NaN
..                                               ...         ...
78           testring999-somwarpeth-camp-pune-222053         NaN
79   queens-glory-subhashnagar-chembur-mumbai-539772         NaN
80  queens-avenue-subhashnagar-chembur-mumbai-949624         NaN
81  queens-avenue-subhashnagar-chembur-mumbai-949624         NaN
82  queens-avenue-subhashnagar-chembur-mumbai-949624         NaN

                    reraId                                     projectSummary  \
0         ["P99000056045"]                                                NaN
1         ["P99000056045"]                                                NaN
2         ["P52100032109"]                                                NaN
3         ["P52100032109"]                                                NaN
4   ["[\"P51800047648\"]"]                                                NaN
..                     ...                                                ...
78     ["[\"asdfghjkl\"]"]                                            dsgfhjk
79  ["[\"P51800076971\"]"]  Queens Glory by VaibhavLaxmi Builders and Deve...
80  ["[\"P51800054458\"]"]  Vaibhavlaxmi Queens Avenue offers well-ventila...
81  ["[\"P51800054458\"]"]  Vaibhavlaxmi Queens Avenue offers well-ventila...
82  ["[\"P51800054458\"]"]  Vaibhavlaxmi Queens Avenue offers well-ventila...

         possessionDate                       id_y  ... bathrooms balcony  \
0   2025-09-28 00:00:00  cmf53kl01000nvcu8ibut7fka  ...         1     1.0
1   2025-09-28 00:00:00  cmf53kl01000nvcu8ibut7fka  ...         0     2.0
2                   NaN  cmf5r6hv30008vxptq5el3h5n  ...        12     3.0
3                   NaN  cmf5r6hv30008vxptq5el3h5n  ...         3     2.0
4                   NaN  cmfawdrnt000kvc18h3j7e93j  ...         1     1.0
..                  ...                        ...  ...       ...     ...
78  2025-09-25 00:00:00  cmfxtgtbz000fvxov0zosuc1d  ...         9     9.0
79  2027-12-31 00:00:00  cmfxwmse80007qq099axxvni0  ...         1     1.0
80  2027-12-31 00:00:00  cmfxxh08u001cqq09fwo5o5i7  ...         1     1.0
81  2027-12-31 00:00:00  cmfxxh08u001cqq09fwo5o5i7  ...         2     4.0
82  2027-12-31 00:00:00  cmfxxh08u001cqq09fwo5o5i7  ...         2     2.0

    furnishedType furnishingType  \
0     UNFURNISHED             []
1     UNFURNISHED             []
2     UNFURNISHED             []
3     UNFURNISHED             []
4     UNFURNISHED             []
..            ...            ...
78    UNFURNISHED             []
79    UNFURNISHED             []
80    UNFURNISHED             []
81    UNFURNISHED             []
82    UNFURNISHED             []

                                       floorPlanImage carpetArea      price  \
0   https://pub-d28896f69c604ec5aa743cb0397740d9.r...     123.00   11111111
1   https://pub-d28896f69c604ec5aa743cb0397740d9.r...     456.00   22222222
2   https://pub-d28896f69c604ec5aa743cb0397740d9.r...     972.00  120000000
3   https://pub-d28896f69c604ec5aa743cb0397740d9.r...     188.73  210000000
4   https://pub-d28896f69c604ec5aa743cb0397740d9.r...     426.57   13000000
..                                                ...        ...        ...
78  https://pub-d28896f69c604ec5aa743cb0397740d9.r...       7.00   80000000
79  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     331.85    7944000
80  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     396.97   10700000
81  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     568.98   15300000
82  https://pub-d28896f69c604ec5aa743cb0397740d9.r...     619.89   16700000

                                       propertyImages  lift  ready_to_move
0   ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              0
1   ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              0
2   ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              1
3   ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              1
4   ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              0
..                                                ...   ...            ...
78  ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              0
79  ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              0
80  ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              0
81  ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              0
82  ["https://pub-d28896f69c604ec5aa743cb0397740d9...     0              0

[83 rows x 28 columns]

In [94]:
df.drop(columns=['customBHK'], inplace=True)

In [95]:
df.to_csv('data/8final_merged_realestate_data.csv', index=False)

In [3]:
df=pd.read_csv('data/8final_merged_realestate_data.csv')

In [4]:
df.head()

,id_x,projectType,projectName,projectCategory,slug,projectAge,reraId,projectSummary,possessionDate,id_y,...,bathrooms,balcony,furnishedType,furnishingType,floorPlanImage,carpetArea,price,propertyImages,lift,ready_to_move
0,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,"[""P99000056045""]",NaN,2025-09-28 00:00:00,cmf53kl01000nvcu8ibut7fka,...,1,1.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,123.00,11111111,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,0
1,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,"[""P99000056045""]",NaN,2025-09-28 00:00:00,cmf53kl01000nvcu8ibut7fka,...,0,2.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,456.00,22222222,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,0
2,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,0.0,"[""P52100032109""]",NaN,NaN,cmf5r6hv30008vxptq5el3h5n,...,12,3.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,972.00,120000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,1
3,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,0.0,"[""P52100032109""]",NaN,NaN,cmf5r6hv30008vxptq5el3h5n,...,3,2.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,188.73,210000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,1
4,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,"[""[\""P51800047648\""]""]",NaN,NaN,cmfawdrnt000kvc18h3j7e93j,...,1,1.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,426.57,13000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,0

In [5]:
print(df['id_x'].nunique())
print(df['id_y'].nunique())
print(df['id_variant'].nunique())
print(df['configurationId'].nunique())

31
31
83
60

# this means the unique id for each row , ie each property is given by id_variant column and the other ids are for grouping and refrencing the grouped properties

In [ ]:
df['id_variant'].rename('unique_property_id', inplace=True)

0     cmff8vfoq0013vxp7h3onmg46
1     cmff8vjd4001dvxp7tq21djvf
2     cmf5r6hv20005vxpt3yfnl2qp
3     cmf5r6hv20006vxptcx3lmm05
4     cmfawdrnq000bvc188680qjyx
                ...
78    cmfxtgtby000dvxovucxxqsad
79    cmfxwmse70005qq093vr7rk2k
80    cmfxxh08t0017qq09qd68njyj
81    cmfxxh08u0019qq098khzka3e
82    cmfxxh08u001aqq09otdgddxp
Name: unique_property_id, Length: 83, dtype: object

In [8]:
df.columns

Index(['id_x', 'projectType', 'projectName', 'projectCategory', 'slug',
       'projectAge', 'reraId', 'projectSummary', 'possessionDate', 'id_y',
       'landmark', 'fullAddress', 'pincode', 'propertyCategory', 'type',
       'id_variant', 'configurationId', 'bathrooms', 'balcony',
       'furnishedType', 'furnishingType', 'floorPlanImage', 'carpetArea',
       'price', 'propertyImages', 'lift', 'ready_to_move'],
      dtype='object')

In [9]:
df.drop(columns=['reraId'], inplace=True)

In [10]:
df.to_csv('data/9final_merged_realestate_data.csv', index=False)

# summary column for easy and better searching in rag

In [21]:
df["projectSummary"] = df["projectSummary"].fillna("_")

In [31]:
def build_context(row):
    return (
        f"Project Name: {row.get('projectName', '')} and type :{row.get('type', '')}. "
        f"Located at : {row.get('fullAddress', '')} , near {row.get('slug', '')} , having landmark :{row.get('landmark', '')} "
        f"Property Type: {row.get('Type', '')}. "
        f"Price: Rs{row.get('price', '')}. "
        f"having Area or carpet area: {row.get('carpetArea', '')} sq meter. "
        f"and also {row.get('projectSummary', '')} !. "
    )

df["context"] = df.apply(build_context, axis=1)

In [33]:
print(df['context'].iloc[-1])

Project Name: Queens Avenue and type :2BHK. Located at : Subhash Nagar, Chembur, Mumbai Harbour, Mumbai , near queens-avenue-subhashnagar-chembur-mumbai-949624 , having landmark :Shri siddhivinayak ganesh temple Property Type: . Price: Rs16700000. having Area or carpet area: 619.89 sq meter. and also Vaibhavlaxmi Queens Avenue offers well-ventilated homes in Chembur East, combining luxury with modern living standards. With easy access to essential amenities, including schools, hospitals, and shopping malls, the project ensures a convenient lifestyle. Developed by Vaibhavlaxmi Developers, a renowned name in Mumbai's real estate sector, the project promises quality construction and timely delivery, making it a top choice for those seeking an ideal urban living experience. !.

In [38]:
df.rename(columns={'id_variant': 'unique_property_id'}, inplace=True)

In [40]:
df.to_csv('data/10final_merged_realestate_data.csv', index=False)

In [41]:
df.columns

Index(['id_x', 'projectType', 'projectName', 'projectCategory', 'slug',
       'projectAge', 'projectSummary', 'possessionDate', 'id_y', 'landmark',
       'fullAddress', 'pincode', 'propertyCategory', 'type',
       'unique_property_id', 'configurationId', 'bathrooms', 'balcony',
       'furnishedType', 'furnishingType', 'floorPlanImage', 'carpetArea',
       'price', 'propertyImages', 'lift', 'ready_to_move', 'context'],
      dtype='object')

In [42]:
df = df.reindex(columns=['unique_property_id'] + [c for c in df.columns if c != 'unique_property_id'])

In [43]:
df.head()

,unique_property_id,id_x,projectType,projectName,projectCategory,slug,projectAge,projectSummary,possessionDate,id_y,...,balcony,furnishedType,furnishingType,floorPlanImage,carpetArea,price,propertyImages,lift,ready_to_move,context
0,cmff8vfoq0013vxp7h3onmg46,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,_,2025-09-28 00:00:00,cmf53kl01000nvcu8ibut7fka,...,1.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,123.00,11111111,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,0,Project Name: Ashwini and type :1BHK. Located ...
1,cmff8vjd4001dvxp7tq21djvf,cmf53kkzy000fvcu8tx8jwjmr,RESIDENTIAL,Ashwini,STANDALONE,luxury-ashwini-ashoknagar-chembur-mumbai-675058,NaN,_,2025-09-28 00:00:00,cmf53kl01000nvcu8ibut7fka,...,2.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,456.00,22222222,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,0,Project Name: Ashwini and type :2BHK. Located ...
2,cmf5r6hv20005vxpt3yfnl2qp,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,0.0,_,NaN,cmf5r6hv30008vxptq5el3h5n,...,3.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,972.00,120000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,1,Project Name: Pristine02 and type :2BHK. Locat...
3,cmf5r6hv20006vxptcx3lmm05,cmf5r6hv00001vxptnfichhfl,RESIDENTIAL,Pristine02,STANDALONE,pristine02-modelcolony-shivajinagar-pune-428955,0.0,_,NaN,cmf5r6hv30008vxptq5el3h5n,...,2.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,188.73,210000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,1,Project Name: Pristine02 and type :2BHK. Locat...
4,cmfawdrnq000bvc188680qjyx,cmfawdrno0007vc18l0fm0z2j,RESIDENTIAL,Gurukripa,COMPLEX,gurukripa-ashoknagar-chembur-mumbai-086047,NaN,_,NaN,cmfawdrnt000kvc18h3j7e93j,...,1.0,UNFURNISHED,[],https://pub-d28896f69c604ec5aa743cb0397740d9.r...,426.57,13000000,"[""https://pub-d28896f69c604ec5aa743cb0397740d9...",0,0,Project Name: Gurukripa and type :1BHK. Locate...

In [44]:
df.to_csv('data/10final_merged_realestate_data.csv', index=False)